/*
  BACKGROUNDS

  Base:
    bg = background
    bgs = background-size

  Modifiers:
    -c = center
    -nr = no-repeat
    -cover = cover
*/

.bg-nr
  background-repeat no-repeat

.bg-c
  background center center

.bgs-cover
  background-size cover
