/*
  BACKGROUNDS

  Base:
    bg = background
    bgs = background-size
    bgc = background-color

  Modifiers:
    -c = center
    -nr = no-repeat
    -cover = cover
*/

.bg-nr
  background-repeat no-repeat

.bg-c
  background center center

.bgs-cover
  background-size cover

.bgc0
  background-color $c0

.bgc1
  background-color $c1

.bgc2
  background-color $c2

.bgc3
  background-color $c3
