/*
  margins

  Base:
    m = background

  Modifiers:
    l = center
    r = no-repeat
    t = cover
    b
*/

// margin all
.m20
  margin 20px


// margin-top
.mt35
  margin-top 35px



// margin-right



//  margin-left
.ml20
  margin-left 20px


// margin-bottom
.mb30
  margin-bottom 30px
