// load modules
@import "modules/_reset"
@import "modules/_variables"
@import "modules/aligns"
@import "modules/backgrounds"
@import "modules/borders"
@import "modules/colors"
@import "modules/decorations"
@import "modules/fonts"
@import "modules/floats"
@import "modules/heights"
@import "modules/line-height"
@import "modules/margins"
@import "modules/paddings"
@import "modules/widths"

// load pages
@import "pages/dashboard"
@import "pages/login"
@import "pages/home"
@import "pages/reports"

.logged-area-nav-active
  background $c2
  border-top 2px solid $c4
  a
    padding 23px 25px

.main-content-wrapper
  width calc(100% - 215px)

.none
  display none
