extends layout

block content
  include includes/header.pug

  main.w-100.mi-h-100.bgc1.p15
    section
      h1.mt35.mb30= title
      .w200.bgc0.fl.br7.p10 oi
      .bgc0.fr.br7.p10.main-content-wrapper map

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
  script.
    var socket = io.connect('http://localhost:3000/map');

    socket.emit('getOnlineUsers', {storeId: GeoShop.storeId});

    socket.on('updateOnlineUsers', function(data) {
      console.log('updateMap', data);
    });

    setInterval(function() {
      socket.emit('getOnlineUsers', {storeId: GeoShop.storeId});
    }, 60000);
