extends layout

block content
  header.w-100.h65.bgc2
    .w80.bgc3.h-100.fl GeoShop
    .fl
      a(href="/logout") sair
  main.w-100.mi-h-100.bgc1
    aside.w80.vh100.bgc0.fl
      ul
        li
          a(href="#") icon 1
        li
          a(href="#") icon 2
        li
          a(href="#") icon 3
    section
      h1= title

  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
  script.
    var socket = io.connect('http://localhost:3000/map')
    socket.on('clickeventresponse', function(data) {
      console.log(data);
    });
    var count = 0;
    document.querySelector('h1').addEventListener('click', function() {
      socket.emit('clickevent', {count: count++})
    });
