extends layout

block content
  header(class="w-100 bgc1 h-100")
    .w-100.h65.tr.p15
      a(href="/login" class="tdu-hover") entrar
      a(href="/signup", class="ml20 tdu-hover") cadastrar
    h1(class="tc")= title

  main teste
